services:
  # PostgreSQL Service
  db:
    image: postgres:17 # Use the PostgreSQL 17 image
    container_name: dev_postgres # Name your PostgreSQL container
    environment:
      POSTGRES_DB: postgres # Default database name
      POSTGRES_USER: postgres # Default user
      POSTGRES_PASSWORD: password # Default password (change for production!)
    ports:
      - "5432:5432" # Map host port 5432 to container port 5432
    restart: no 