@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 231 0% 100%;
        --foreground: 231 0% 10%;
        --card: 231 0% 100%;
        --card-foreground: 231 0% 15%;
        --popover: 231 0% 100%;
        --popover-foreground: 231 95% 10%;
        --primary: 231 34% 49%;
        --primary-foreground: 0 0% 100%;
        --secondary: 231 10% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: 193 10% 95%;
        --muted-foreground: 231 0% 40%;
        --accent: 193 10% 90%;
        --accent-foreground: 231 0% 15%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 231 0% 100%;
        --border: 231 20% 82%;
        --input: 231 20% 50%;
        --ring: 231 34% 49%;
        --radius: 0.75rem;
    }
    .dark {
        --background: 231 10% 10%;
        --foreground: 231 0% 100%;
        --card: 231 0% 10%;
        --card-foreground: 231 0% 100%;
        --popover: 231 10% 5%;
        --popover-foreground: 231 0% 100%;
        --primary: 231 34% 49%;
        --primary-foreground: 0 0% 100%;
        --secondary: 231 10% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: 231 10% 18%;
        --muted-foreground: 231 0% 65%;
        --accent: 193 10% 25%;
        --accent-foreground: 231 0% 95%;
        --destructive: 0 50% 50%;
        --destructive-foreground: 231 0% 100%;
        --border: 231 20% 50%;
        --input: 231 20% 50%;
        --ring: 231 34% 49%;
        --radius: 0.75rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
