@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 31 100% 100%;
        --foreground: 31 5% 10%;
        --card: 31 50% 100%;
        --card-foreground: 31 5% 15%;
        --popover: 31 100% 100%;
        --popover-foreground: 31 100% 10%;
        --primary: 31 11% 28%;
        --primary-foreground: 0 0% 100%;
        --secondary: 31 30% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: -7 30% 95%;
        --muted-foreground: 31 5% 40%;
        --accent: -7 30% 90%;
        --accent-foreground: 31 5% 15%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 31 5% 100%;
        --border: 31 30% 82%;
        --input: 31 30% 50%;
        --ring: 31 11% 28%;
        --radius: 0rem;
    }
    .dark {
        --background: 31 50% 10%;
        --foreground: 31 5% 100%;
        --card: 31 50% 10%;
        --card-foreground: 31 5% 100%;
        --popover: 31 50% 5%;
        --popover-foreground: 31 5% 100%;
        --primary: 31 11% 28%;
        --primary-foreground: 0 0% 100%;
        --secondary: 31 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: -7 30% 25%;
        --muted-foreground: 31 5% 65%;
        --accent: -7 30% 25%;
        --accent-foreground: 31 5% 95%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 31 5% 100%;
        --border: 31 30% 50%;
        --input: 31 30% 50%;
        --ring: 31 11% 28%;
        --radius: 0rem;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
