@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 28.4 100% 100%;
        --foreground: 28.4 5% 10%;
        --card: 28.4 50% 100%;
        --card-foreground: 28.4 5% 15%;
        --popover: 28.4 100% 100%;
        --popover-foreground: 28.4 100% 10%;
        --primary: 28.4 72.5% 25.7%;
        --primary-foreground: 0 0% 100%;
        --secondary: 28.4 30% 90%;
        --secondary-foreground: 0 0% 0%;
        --muted: -9.600000000000001 30% 95%;
        --muted-foreground: 28.4 5% 40%;
        --accent: -9.600000000000001 30% 90%;
        --accent-foreground: 28.4 5% 15%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 28.4 5% 100%;
        --border: 28.4 30% 82%;
        --input: 28.4 30% 50%;
        --ring: 28.4 72.5% 25.7%;
        --radius: 0rem;
    }
    .dark {
        --background: 28.4 50% 10%;
        --foreground: 28.4 5% 100%;
        --card: 28.4 50% 10%;
        --card-foreground: 28.4 5% 100%;
        --popover: 28.4 50% 5%;
        --popover-foreground: 28.4 5% 100%;
        --primary: 28.4 72.5% 25.7%;
        --primary-foreground: 0 0% 100%;
        --secondary: 28.4 30% 20%;
        --secondary-foreground: 0 0% 100%;
        --muted: -9.600000000000001 30% 25%;
        --muted-foreground: 28.4 5% 65%;
        --accent: -9.600000000000001 30% 25%;
        --accent-foreground: 28.4 5% 95%;
        --destructive: 0 100% 50%;
        --destructive-foreground: 28.4 5% 100%;
        --border: 28.4 30% 50%;
        --input: 28.4 30% 50%;
        --ring: 28.4 72.5% 25.7%;
        --radius: 0rem;
    }
}
@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
